<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PlymouthRockRealState" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'PlymouthRockRealState', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "Link1", "/path1", class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Link1", "/path1", class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Add new Property", new_property_path, class: 'nav-link' %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    <div class="container">
      <div class="row mt-5">
        <div class="col-xs-12 col-lg-9">
          <%= render 'shared/alerts' %>
          <%= yield %>
        </div>
        <div class="col-xs-12 col-lg-3">
          <h3>Most Recent</h3>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="http://via.placeholder.com/200x200" alt="Card image">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          <hr class="my-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="http://via.placeholder.com/200x200" alt="Card image">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>

        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
